#header { height: 50px; width: 100%; position: fixed; top: 0; left: 0; z-index: 2; }
span a { font-size: 14px; }
#header-nav { width: 100%; height: 50px; margin: auto; position: relative; }
#Accout-Notification { position: absolute; top: 0; right: 10px; width: auto; height: 50px; }
#Accout-Notification > div { height: 50px; line-height: 50px; width: 45px; float: left; position: relative; }
#Accout-Notification > #accout { width: auto; }
#header a { color: #fff; }


#menu { width: 200px; height: calc(100% - 80px); position: fixed; top: 50px; left: 0px; z-index: 10; }
#menu ul { height: 26px; display: block; }
#menu li { height: 26px; display: block; line-height: 26px; }
#menu li a { margin-left: 12px; }
#menu li a:hover { border-bottom: 2px solid #89a452; }






footer { width: 100%; height: 30px; position: fixed; background: #007EE5; color: #fff; border-top: 1px solid rgba(0, 0, 0, 0.15); text-align: center; line-height: 30px; bottom: 0; left: 0; z-index: 10; }