@font-face {
	font-family: 'Simple-Line-Icons';
	src:url('../../fonts/Simple-Line-Icons.eot');
	src:url('../../fonts/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Simple-Line-Icons.woff') format('woff'),
		url('../../fonts/Simple-Line-Icons.ttf') format('truetype'),
		url('../../fonts/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Simple-Line-Icons';
	content: attr(data-icon);
/*	speak: none;*/
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
/*	-moz-osx-font-smoothing: grayscale;*/
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-user-female, .icon-user-follow, .icon-user-following, .icon-user-unfollow, .icon-trophy, .icon-screen-smartphone, .icon-screen-desktop, .icon-plane, .icon-notebook, .icon-moustache, .icon-mouse, .icon-magnet, .icon-energy, .icon-emoticon-smile, .icon-disc, .icon-cursor-move, .icon-crop, .icon-credit-card, .icon-chemistry, .icon-user, .icon-speedometer, .icon-social-youtube, .icon-social-twitter, .icon-social-tumblr, .icon-social-facebook, .icon-social-dropbox, .icon-social-dribbble, .icon-shield, .icon-screen-tablet, .icon-magic-wand, .icon-hourglass, .icon-graduation, .icon-ghost, .icon-game-controller, .icon-fire, .icon-eyeglasses, .icon-envelope-open, .icon-envelope-letter, .icon-bell, .icon-badge, .icon-anchor, .icon-wallet, .icon-vector, .icon-speech, .icon-puzzle, .icon-printer, .icon-present, .icon-playlist, .icon-pin, .icon-picture, .icon-map, .icon-layers, .icon-handbag, .icon-globe-alt, .icon-globe, .icon-frame, .icon-folder-alt, .icon-film, .icon-feed, .icon-earphones-alt, .icon-earphones, .icon-drop, .icon-drawer, .icon-docs, .icon-directions, .icon-direction, .icon-diamond, .icon-cup, .icon-compass, .icon-call-out, .icon-call-in, .icon-call-end, .icon-calculator, .icon-bubbles, .icon-briefcase, .icon-book-open, .icon-basket-loaded, .icon-basket, .icon-bag, .icon-action-undo, .icon-action-redo, .icon-wrench, .icon-umbrella, .icon-trash, .icon-tag, .icon-support, .icon-size-fullscreen, .icon-size-actual, .icon-shuffle, .icon-share-alt, .icon-share, .icon-rocket, .icon-question, .icon-pie-chart, .icon-pencil, .icon-note, .icon-music-tone-alt, .icon-music-tone, .icon-microphone, .icon-loop, .icon-logout, .icon-login, .icon-list, .icon-like, .icon-home, .icon-grid, .icon-graph, .icon-equalizer, .icon-dislike, .icon-cursor, .icon-control-start, .icon-control-rewind, .icon-control-play, .icon-control-pause, .icon-control-forward, .icon-control-end, .icon-calendar, .icon-bulb, .icon-bar-chart, .icon-arrow-up, .icon-arrow-right, .icon-arrow-left, .icon-arrow-down, .icon-ban, .icon-bubble, .icon-camcorder, .icon-camera, .icon-check, .icon-clock, .icon-close, .icon-cloud-download, .icon-cloud-upload, .icon-doc, .icon-envelope, .icon-eye, .icon-flag, .icon-folder, .icon-heart, .icon-info, .icon-key, .icon-link, .icon-lock, .icon-lock-open, .icon-magnifier, .icon-magnifier-add, .icon-magnifier-remove, .icon-paper-clip, .icon-paper-plane, .icon-plus, .icon-pointer, .icon-power, .icon-refresh, .icon-reload, .icon-settings, .icon-star, .icon-symbol-female, .icon-symbol-male, .icon-target, .icon-volume-1, .icon-volume-2, .icon-volume-off, .icon-users {
	font-family: 'Simple-Line-Icons';
/*	speak: none;*/
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-user-female:before {
	content: "\e000";
}
.icon-user-follow:before {
	content: "\e002";
}
.icon-user-following:before {
	content: "\e003";
}
.icon-user-unfollow:before {
	content: "\e004";
}
.icon-trophy:before {
	content: "\e006";
}
.icon-screen-smartphone:before {
	content: "\e010";
}
.icon-screen-desktop:before {
	content: "\e011";
}
.icon-plane:before {
	content: "\e012";
}
.icon-notebook:before {
	content: "\e013";
}
.icon-moustache:before {
	content: "\e014";
}
.icon-mouse:before {
	content: "\e015";
}
.icon-magnet:before {
	content: "\e016";
}
.icon-energy:before {
	content: "\e020";
}
.icon-emoticon-smile:before {
	content: "\e021";
}
.icon-disc:before {
	content: "\e022";
}
.icon-cursor-move:before {
	content: "\e023";
}
.icon-crop:before {
	content: "\e024";
}
.icon-credit-card:before {
	content: "\e025";
}
.icon-chemistry:before {
	content: "\e026";
}
.icon-user:before {
	content: "\e005";
}
.icon-speedometer:before {
	content: "\e007";
}
.icon-social-youtube:before {
	content: "\e008";
}
.icon-social-twitter:before {
	content: "\e009";
}
.icon-social-tumblr:before {
	content: "\e00a";
}
.icon-social-facebook:before {
	content: "\e00b";
}
.icon-social-dropbox:before {
	content: "\e00c";
}
.icon-social-dribbble:before {
	content: "\e00d";
}
.icon-shield:before {
	content: "\e00e";
}
.icon-screen-tablet:before {
	content: "\e00f";
}
.icon-magic-wand:before {
	content: "\e017";
}
.icon-hourglass:before {
	content: "\e018";
}
.icon-graduation:before {
	content: "\e019";
}
.icon-ghost:before {
	content: "\e01a";
}
.icon-game-controller:before {
	content: "\e01b";
}
.icon-fire:before {
	content: "\e01c";
}
.icon-eyeglasses:before {
	content: "\e01d";
}
.icon-envelope-open:before {
	content: "\e01e";
}
.icon-envelope-letter:before {
	content: "\e01f";
}
.icon-bell:before {
	content: "\e027";
}
.icon-badge:before {
	content: "\e028";
}
.icon-anchor:before {
	content: "\e029";
}
.icon-wallet:before {
	content: "\e02a";
}
.icon-vector:before {
	content: "\e02b";
}
.icon-speech:before {
	content: "\e02c";
}
.icon-puzzle:before {
	content: "\e02d";
}
.icon-printer:before {
	content: "\e02e";
}
.icon-present:before {
	content: "\e02f";
}
.icon-playlist:before {
	content: "\e030";
}
.icon-pin:before {
	content: "\e031";
}
.icon-picture:before {
	content: "\e032";
}
.icon-map:before {
	content: "\e033";
}
.icon-layers:before {
	content: "\e034";
}
.icon-handbag:before {
	content: "\e035";
}
.icon-globe-alt:before {
	content: "\e036";
}
.icon-globe:before {
	content: "\e037";
}
.icon-frame:before {
	content: "\e038";
}
.icon-folder-alt:before {
	content: "\e039";
}
.icon-film:before {
	content: "\e03a";
}
.icon-feed:before {
	content: "\e03b";
}
.icon-earphones-alt:before {
	content: "\e03c";
}
.icon-earphones:before {
	content: "\e03d";
}
.icon-drop:before {
	content: "\e03e";
}
.icon-drawer:before {
	content: "\e03f";
}
.icon-docs:before {
	content: "\e040";
}
.icon-directions:before {
	content: "\e041";
}
.icon-direction:before {
	content: "\e042";
}
.icon-diamond:before {
	content: "\e043";
}
.icon-cup:before {
	content: "\e044";
}
.icon-compass:before {
	content: "\e045";
}
.icon-call-out:before {
	content: "\e046";
}
.icon-call-in:before {
	content: "\e047";
}
.icon-call-end:before {
	content: "\e048";
}
.icon-calculator:before {
	content: "\e049";
}
.icon-bubbles:before {
	content: "\e04a";
}
.icon-briefcase:before {
	content: "\e04b";
}
.icon-book-open:before {
	content: "\e04c";
}
.icon-basket-loaded:before {
	content: "\e04d";
}
.icon-basket:before {
	content: "\e04e";
}
.icon-bag:before {
	content: "\e04f";
}
.icon-action-undo:before {
	content: "\e050";
}
.icon-action-redo:before {
	content: "\e051";
}
.icon-wrench:before {
	content: "\e052";
}
.icon-umbrella:before {
	content: "\e053";
}
.icon-trash:before {
	content: "\e054";
}
.icon-tag:before {
	content: "\e055";
}
.icon-support:before {
	content: "\e056";
}
.icon-size-fullscreen:before {
	content: "\e057";
}
.icon-size-actual:before {
	content: "\e058";
}
.icon-shuffle:before {
	content: "\e059";
}
.icon-share-alt:before {
	content: "\e05a";
}
.icon-share:before {
	content: "\e05b";
}
.icon-rocket:before {
	content: "\e05c";
}
.icon-question:before {
	content: "\e05d";
}
.icon-pie-chart:before {
	content: "\e05e";
}
.icon-pencil:before {
	content: "\e05f";
}
.icon-note:before {
	content: "\e060";
}
.icon-music-tone-alt:before {
	content: "\e061";
}
.icon-music-tone:before {
	content: "\e062";
}
.icon-microphone:before {
	content: "\e063";
}
.icon-loop:before {
	content: "\e064";
}
.icon-logout:before {
	content: "\e065";
}
.icon-login:before {
	content: "\e066";
}
.icon-list:before {
	content: "\e067";
}
.icon-like:before {
	content: "\e068";
}
.icon-home:before {
	content: "\e069";
}
.icon-grid:before {
	content: "\e06a";
}
.icon-graph:before {
	content: "\e06b";
}
.icon-equalizer:before {
	content: "\e06c";
}
.icon-dislike:before {
	content: "\e06d";
}
.icon-cursor:before {
	content: "\e06e";
}
.icon-control-start:before {
	content: "\e06f";
}
.icon-control-rewind:before {
	content: "\e070";
}
.icon-control-play:before {
	content: "\e071";
}
.icon-control-pause:before {
	content: "\e072";
}
.icon-control-forward:before {
	content: "\e073";
}
.icon-control-end:before {
	content: "\e074";
}
.icon-calendar:before {
	content: "\e075";
}
.icon-bulb:before {
	content: "\e076";
}
.icon-bar-chart:before {
	content: "\e077";
}
.icon-arrow-up:before {
	content: "\e078";
}
.icon-arrow-right:before {
	content: "\e079";
}
.icon-arrow-left:before {
	content: "\e07a";
}
.icon-arrow-down:before {
	content: "\e07b";
}
.icon-ban:before {
	content: "\e07c";
}
.icon-bubble:before {
	content: "\e07d";
}
.icon-camcorder:before {
	content: "\e07e";
}
.icon-camera:before {
	content: "\e07f";
}
.icon-check:before {
	content: "\e080";
}
.icon-clock:before {
	content: "\e081";
}
.icon-close:before {
	content: "\e082";
}
.icon-cloud-download:before {
	content: "\e083";
}
.icon-cloud-upload:before {
	content: "\e084";
}
.icon-doc:before {
	content: "\e085";
}
.icon-envelope:before {
	content: "\e086";
}
.icon-eye:before {
	content: "\e087";
}
.icon-flag:before {
	content: "\e088";
}
.icon-folder:before {
	content: "\e089";
}
.icon-heart:before {
	content: "\e08a";
}
.icon-info:before {
	content: "\e08b";
}
.icon-key:before {
	content: "\e08c";
}
.icon-link:before {
	content: "\e08d";
}
.icon-lock:before {
	content: "\e08e";
}
.icon-lock-open:before {
	content: "\e08f";
}
.icon-magnifier:before {
	content: "\e090";
}
.icon-magnifier-add:before {
	content: "\e091";
}
.icon-magnifier-remove:before {
	content: "\e092";
}
.icon-paper-clip:before {
	content: "\e093";
}
.icon-paper-plane:before {
	content: "\e094";
}
.icon-plus:before {
	content: "\e095";
}
.icon-pointer:before {
	content: "\e096";
}
.icon-power:before {
	content: "\e097";
}
.icon-refresh:before {
	content: "\e098";
}
.icon-reload:before {
	content: "\e099";
}
.icon-settings:before {
	content: "\e09a";
}
.icon-star:before {
	content: "\e09b";
}
.icon-symbol-female:before {
	content: "\e09c";
}
.icon-symbol-male:before {
	content: "\e09d";
}
.icon-target:before {
	content: "\e09e";
}
.icon-volume-1:before {
	content: "\e09f";
}
.icon-volume-2:before {
	content: "\e0a0";
}
.icon-volume-off:before {
	content: "\e0a1";
}
.icon-users:before {
	content: "\e001";
}





















/*  *:after
-------------------------------------------------*/
.icons-user-female, .icons-user-follow, .icons-user-following, .icons-user-unfollow, .icons-trophy, .icons-screen-smartphone, .icons-screen-desktop, .icons-plane, .icons-notebook, .icons-moustache, .icons-mouse, .icons-magnet, .icons-energy, .icons-emoticons-smile, .icons-disc, .icons-cursor-move, .icons-crop, .icons-credit-card, .icons-chemistry, .icons-user, .icons-speedometer, .icons-social-youtube, .icons-social-twitter, .icons-social-tumblr, .icons-social-facebook, .icons-social-dropbox, .icons-social-dribbble, .icons-shield, .icons-screen-tablet, .icons-magic-wand, .icons-hourglass, .icons-graduation, .icons-ghost, .icons-game-controller, .icons-fire, .icons-eyeglasses, .icons-envelope-open, .icons-envelope-letter, .icons-bell, .icons-badge, .icons-anchor, .icons-wallet, .icons-vector, .icons-speech, .icons-puzzle, .icons-printer, .icons-present, .icons-playlist, .icons-pin, .icons-picture, .icons-map, .icons-layers, .icons-handbag, .icons-globe-alt, .icons-globe, .icons-frame, .icons-folder-alt, .icons-film, .icons-feed, .icons-earphones-alt, .icons-earphones, .icons-drop, .icons-drawer, .icons-docs, .icons-directions, .icons-direction, .icons-diamond, .icons-cup, .icons-compass, .icons-call-out, .icons-call-in, .icons-call-end, .icons-calculator, .icons-bubbles, .icons-briefcase, .icons-book-open, .icons-basket-loaded, .icons-basket, .icons-bag, .icons-action-undo, .icons-action-redo, .icons-wrench, .icons-umbrella, .icons-trash, .icons-tag, .icons-support, .icons-size-fullscreen, .icons-size-actual, .icons-shuffle, .icons-share-alt, .icons-share, .icons-rocket, .icons-question, .icons-pie-chart, .icons-pencil, .icons-note, .icons-music-tone-alt, .icons-music-tone, .icons-microphone, .icons-loop, .icons-logout, .icons-login, .icons-list, .icons-like, .icons-home, .icons-grid, .icons-graph, .icons-equalizer, .icons-dislike, .icons-cursor, .icons-control-start, .icons-control-rewind, .icons-control-play, .icons-control-pause, .icons-control-forward, .icons-control-end, .icons-calendar, .icons-bulb, .icons-bar-chart, .icons-arrow-up, .icons-arrow-right, .icons-arrow-left, .icons-arrow-down, .icons-ban, .icons-bubble, .icons-camcorder, .icons-camera, .icons-check, .icons-clock, .icons-close, .icons-cloud-download, .icons-cloud-upload, .icons-doc, .icons-envelope, .icons-eye, .icons-flag, .icons-folder, .icons-heart, .icons-info, .icons-key, .icons-link, .icons-lock, .icons-lock-open, .icons-magnifier, .icons-magnifier-add, .icons-magnifier-remove, .icons-paper-clip, .icons-paper-plane, .icons-plus, .icons-pointer, .icons-power, .icons-refresh, .icons-reload, .icons-settings, .icons-star, .icons-symbol-female, .icons-symbol-male, .icons-target, .icons-volume-1, .icons-volume-2, .icons-volume-off, .icons-users {
	font-family: 'Simple-Line-Icons';
/*	speak: none;*/
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}




.icons-user-female:after {
	content: "\e000";
}
.icons-user-follow:after {
	content: "\e002";
}
.icons-user-following:after {
	content: "\e003";
}
.icons-user-unfollow:after {
	content: "\e004";
}
.icons-trophy:after {
	content: "\e006";
}
.icons-screen-smartphone:after {
	content: "\e010";
}
.icons-screen-desktop:after {
	content: "\e011";
}
.icons-plane:after {
	content: "\e012";
}
.icons-notebook:after {
	content: "\e013";
}
.icons-moustache:after {
	content: "\e014";
}
.icons-mouse:after {
	content: "\e015";
}
.icons-magnet:after {
	content: "\e016";
}
.icons-energy:after {
	content: "\e020";
}
.icons-emoticons-smile:after {
	content: "\e021";
}
.icons-disc:after {
	content: "\e022";
}
.icons-cursor-move:after {
	content: "\e023";
}
.icons-crop:after {
	content: "\e024";
}
.icons-credit-card:after {
	content: "\e025";
}
.icons-chemistry:after {
	content: "\e026";
}
.icons-user:after {
	content: "\e005";
}
.icons-speedometer:after {
	content: "\e007";
}
.icons-social-youtube:after {
	content: "\e008";
}
.icons-social-twitter:after {
	content: "\e009";
}
.icons-social-tumblr:after {
	content: "\e00a";
}
.icons-social-facebook:after {
	content: "\e00b";
}
.icons-social-dropbox:after {
	content: "\e00c";
}
.icons-social-dribbble:after {
	content: "\e00d";
}
.icons-shield:after {
	content: "\e00e";
}
.icons-screen-tablet:after {
	content: "\e00f";
}
.icons-magic-wand:after {
	content: "\e017";
}
.icons-hourglass:after {
	content: "\e018";
}
.icons-graduation:after {
	content: "\e019";
}
.icons-ghost:after {
	content: "\e01a";
}
.icons-game-controller:after {
	content: "\e01b";
}
.icons-fire:after {
	content: "\e01c";
}
.icons-eyeglasses:after {
	content: "\e01d";
}
.icons-envelope-open:after {
	content: "\e01e";
}
.icons-envelope-letter:after {
	content: "\e01f";
}
.icons-bell:after {
	content: "\e027";
}
.icons-badge:after {
	content: "\e028";
}
.icons-anchor:after {
	content: "\e029";
}
.icons-wallet:after {
	content: "\e02a";
}
.icons-vector:after {
	content: "\e02b";
}
.icons-speech:after {
	content: "\e02c";
}
.icons-puzzle:after {
	content: "\e02d";
}
.icons-printer:after {
	content: "\e02e";
}
.icons-present:after {
	content: "\e02f";
}
.icons-playlist:after {
	content: "\e030";
}
.icons-pin:after {
	content: "\e031";
}
.icons-picture:after {
	content: "\e032";
}
.icons-map:after {
	content: "\e033";
}
.icons-layers:after {
	content: "\e034";
}
.icons-handbag:after {
	content: "\e035";
}
.icons-globe-alt:after {
	content: "\e036";
}
.icons-globe:after {
	content: "\e037";
}
.icons-frame:after {
	content: "\e038";
}
.icons-folder-alt:after {
	content: "\e039";
}
.icons-film:after {
	content: "\e03a";
}
.icons-feed:after {
	content: "\e03b";
}
.icons-earphones-alt:after {
	content: "\e03c";
}
.icons-earphones:after {
	content: "\e03d";
}
.icons-drop:after {
	content: "\e03e";
}
.icons-drawer:after {
	content: "\e03f";
}
.icons-docs:after {
	content: "\e040";
}
.icons-directions:after {
	content: "\e041";
}
.icons-direction:after {
	content: "\e042";
}
.icons-diamond:after {
	content: "\e043";
}
.icons-cup:after {
	content: "\e044";
}
.icons-compass:after {
	content: "\e045";
}
.icons-call-out:after {
	content: "\e046";
}
.icons-call-in:after {
	content: "\e047";
}
.icons-call-end:after {
	content: "\e048";
}
.icons-calculator:after {
	content: "\e049";
}
.icons-bubbles:after {
	content: "\e04a";
}
.icons-briefcase:after {
	content: "\e04b";
}
.icons-book-open:after {
	content: "\e04c";
}
.icons-basket-loaded:after {
	content: "\e04d";
}
.icons-basket:after {
	content: "\e04e";
}
.icons-bag:after {
	content: "\e04f";
}
.icons-action-undo:after {
	content: "\e050";
}
.icons-action-redo:after {
	content: "\e051";
}
.icons-wrench:after {
	content: "\e052";
}
.icons-umbrella:after {
	content: "\e053";
}
.icons-trash:after {
	content: "\e054";
}
.icons-tag:after {
	content: "\e055";
}
.icons-support:after {
	content: "\e056";
}
.icons-size-fullscreen:after {
	content: "\e057";
}
.icons-size-actual:after {
	content: "\e058";
}
.icons-shuffle:after {
	content: "\e059";
}
.icons-share-alt:after {
	content: "\e05a";
}
.icons-share:after {
	content: "\e05b";
}
.icons-rocket:after {
	content: "\e05c";
}
.icons-question:after {
	content: "\e05d";
}
.icons-pie-chart:after {
	content: "\e05e";
}
.icons-pencil:after {
	content: "\e05f";
}
.icons-note:after {
	content: "\e060";
}
.icons-music-tone-alt:after {
	content: "\e061";
}
.icons-music-tone:after {
	content: "\e062";
}
.icons-microphone:after {
	content: "\e063";
}
.icons-loop:after {
	content: "\e064";
}
.icons-logout:after {
	content: "\e065";
}
.icons-login:after {
	content: "\e066";
}
.icons-list:after {
	content: "\e067";
}
.icons-like:after {
	content: "\e068";
}
.icons-home:after {
	content: "\e069";
}
.icons-grid:after {
	content: "\e06a";
}
.icons-graph:after {
	content: "\e06b";
}
.icons-equalizer:after {
	content: "\e06c";
}
.icons-dislike:after {
	content: "\e06d";
}
.icons-cursor:after {
	content: "\e06e";
}
.icons-control-start:after {
	content: "\e06f";
}
.icons-control-rewind:after {
	content: "\e070";
}
.icons-control-play:after {
	content: "\e071";
}
.icons-control-pause:after {
	content: "\e072";
}
.icons-control-forward:after {
	content: "\e073";
}
.icons-control-end:after {
	content: "\e074";
}
.icons-calendar:after {
	content: "\e075";
}
.icons-bulb:after {
	content: "\e076";
}
.icons-bar-chart:after {
	content: "\e077";
}
.icons-arrow-up:after {
	content: "\e078";
}
.icons-arrow-right:after {
	content: "\e079";
}
.icons-arrow-left:after {
	content: "\e07a";
}
.icons-arrow-down:after {
	content: "\e07b";
}
.icons-ban:after {
	content: "\e07c";
}
.icons-bubble:after {
	content: "\e07d";
}
.icons-camcorder:after {
	content: "\e07e";
}
.icons-camera:after {
	content: "\e07f";
}
.icons-check:after {
	content: "\e080";
}
.icons-clock:after {
	content: "\e081";
}
.icons-close:after {
	content: "\e082";
}
.icons-cloud-download:after {
	content: "\e083";
}
.icons-cloud-upload:after {
	content: "\e084";
}
.icons-doc:after {
	content: "\e085";
}
.icons-envelope:after {
	content: "\e086";
}
.icons-eye:after {
	content: "\e087";
}
.icons-flag:after {
	content: "\e088";
}
.icons-folder:after {
	content: "\e089";
}
.icons-heart:after {
	content: "\e08a";
}
.icons-info:after {
	content: "\e08b";
}
.icons-key:after {
	content: "\e08c";
}
.icons-link:after {
	content: "\e08d";
}
.icons-lock:after {
	content: "\e08e";
}
.icons-lock-open:after {
	content: "\e08f";
}
.icons-magnifier:after {
	content: "\e090";
}
.icons-magnifier-add:after {
	content: "\e091";
}
.icons-magnifier-remove:after {
	content: "\e092";
}
.icons-paper-clip:after {
	content: "\e093";
}
.icons-paper-plane:after {
	content: "\e094";
}
.icons-plus:after {
	content: "\e095";
}
.icons-pointer:after {
	content: "\e096";
}
.icons-power:after {
	content: "\e097";
}
.icons-refresh:after {
	content: "\e098";
}
.icons-reload:after {
	content: "\e099";
}
.icons-settings:after {
	content: "\e09a";
}
.icons-star:after {
	content: "\e09b";
}
.icons-symbol-female:after {
	content: "\e09c";
}
.icons-symbol-male:after {
	content: "\e09d";
}
.icons-target:after {
	content: "\e09e";
}
.icons-volume-1:after {
	content: "\e09f";
}
.icons-volume-2:after {
	content: "\e0a0";
}
.icons-volume-off:after {
	content: "\e0a1";
}
.icons-users:after {
	content: "\e001";
}