@import url("theme.css");

/* page product */


#tree a { color: #8F8F8F; }
#treeHeader { color: #c4c4c4;  }
#tree .active-tree { color: #a6cf53; z-index: 10;}
#tree .active-tree:before { content: ''; z-index: 2; width: 260px; height: 24px; background: rgba(0,0,0,0.24); left: 200px; position: fixed; }
/*#tree .active-tree:after { content: ''; z-index: 2; border-width: 12px; height: 0; left: 460px; position: fixed; width: 0; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: transparent transparent transparent rgba(0,0,0,0.24); border-image: none; border-style: outset outset outset solid; }*/
.applyQuyen { background: #606060; color: #fff; border: 1px solid #606060; }