/*#c4c4c4,  #3D9BDA, #e5e5e5, #3d464d, #47484B, #bdc4c9, #8F8F8F, #999 */

/* font-famyli
------------------------------------------------------------------------------------------*/
body { font-family: Arial; }
a { font-family: Arial !important; } /* #47484B;  */ /*a { color: #2895f1; }*/
a:before, a:after { font-family: 'Simple-Line-Icons' !important; }


/* background 
------------------------------------------------------------------------------------------*/
.bg-header { background: #007EE5; } /*#f4f4f4, linear-gradient(#616F7D, #505E6D)*/
.bg-box { background: #fff; }
.bg-menu { background: #fff; }
.bg-menu-tree { background: #fff; }
.bg-pg-header { background: #fff; }
.bg-pg { background: #fff; }
.bg-header-box { background: #f5f5f5; }




/* color 
------------------------------------------------------------------------------------------*/
body { color: #777; }
a { color: #3b73af; }
h1, h2, h3, h4, h5, .color-title { color: #47484B; }
input, select, textarea { color: #777 !important; }
.color-nhan { color: #888; }
.color-1 { color: red; }
.color-2 { color: green; }
.color-3 { color: #444; }
.color-4 { color: #fff; }




/* border 
--------------------------------------------------------------------------------------------*/
.border-1 { border: 1px solid rgba(0,0,0, .2); } /*#bdc4c9*/
.border-top-1-2 { border-top: 1px solid rgba(0,0,0, .15); }
.border-bottom-1-1 { border-bottom: 1px solid rgba(255,255,255, .25); }
.border-bottom-1-2 { border-bottom: 1px solid rgba(0,0,0, .15); }
.border-bottom-1-3 { border-bottom: 1px solid red; }
.border-left-1-1 { border-left: 1px solid rgba(0,0,0, .15); }
.border-right-1 { border-right: 1px solid rgba(0,0,0, .15); }
.border-top-bottom-1 { border-top: 1px solid rgba(0,0,0, .2); border-bottom: 1px solid rgba(0,0,0, .2); }
input, textarea, select { border: 1px solid rgba(0,0,0, .2); }
input:focus, textarea:focus { border: 1px solid #999; }
input[type='search'], input[type='search']:focus { border: none; }



/* class icon-... 
-------------------------------------------------------------------------------------------*/
* [class*="icon-"]:before, * [class*="icons-"]:after { color: #89a452; text-shadow: 1px 1px 2px #999;}/*{ color: #3D9BDA; }*/
.icon-trash:before, .icon-magnifier:before { color: #999; }
.icon-magnifier:before { text-shadow: none; }
.icons-settings:after { margin-right: 10px; }

header [class*="icon-"]:before, [class*="icons-"]:after { color: #fff; }



/* font-size Title */
h1 { font-size: 38px; }
h2 { font-size: 21px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }



/* Code for Firefox */
::-moz-selection { color: #fff; background: #89A452; }
::selection { color: #fff; background: #89A452; }



