@import url("import/simple-line-icons.css");
@import url("import/reset.css");
@import url("import/header.css");
@import url("import/theme.customer.category.css");
@import url("import/all.css");
@import url("import/dd.css");




* [class*="icon-"]:before, * [class*="icons-"]:after { cursor: pointer; }
* [class*="icons-"]:after { margin-left: 10px; }
.icon-trash:before, .icon-magnifier:before { color: #999; }

body { font-family: Arial; width: 100%; height: 100%; position: absolute; transition: all .6s; } 
#content { width: calc(100% - 460px); height: 100%; margin-left: 460px; position: relative; }



/* layout customer-category
-----------------------------------------------------------------------------------------------*/
#sidebar-customer-category { width: 260px; height: calc(100% - 120px); position: fixed; left: 200px; top: 90px; z-index: 2; }
#content-customer-category { width: 100%; min-width: 720px; height: 100%; display: block; box-sizing: border-box; z-index: 1; position: relative; }
#header-customer-category { width: calc(100% - 200px); height: 40px; position: fixed; right: 0; top: 50px; z-index: 1; box-sizing: border-box; box-shadow: 0 1px 2px rgba(0,0,0, .15); }
#body-customer-category { width: 800px; padding-bottom: 20px; height: auto; display: block; padding-top: 90px; }



/* #content-customer-category 
-----------------------------------------------------------------------*/
    /* #header-customer-category
    ---------------------------------------------*/
#box-header-customer-category { width: 100%; margin: auto; height: 40px; }
#box-header-customer-category > div { height: 40px; padding-top: 7px; position: relative;}
    /* #header-customer-category-menu */
#header-customer-category-text { float: left; width: auto; padding: 0 15px; box-sizing: padding-box; white-space: nowrap; line-height: 25px; }
.titleTab { float: left; height: 36px; line-height: 30px; padding-left: 30px; display: block;  }
#header-customer-category-menu { float: right; }
#header-customer-category-menu span { width: 40px; line-height: 26px; height: 30px; float: left; }



    /* #body-customer-category 
    ----------------------------------------------*/
    /* #main-customer-category*/
#main-customer-category { height: auto; padding: 10px;  }
#body-main-customer-category { margin-bottom: 20px;  margin-top: 40px; }

    /* #body-ACL-customer-category */
#body-ACL-customer-category { display: none; margin-top: 40px; }




.loading { width: 100%; height: calc(100% - 90px); top: 90px; position: absolute; z-index: 1000; background: #fff; }
.loading img { position: absolute; left: 50%; top: 50%; margin: -12px; }


#tab-view { width: calc(100% - 460px); right: 0; z-index: 100; height: 35px; background: #fff; position: fixed; }
.tab-view span { position: relative; height: 35px; line-height: 35px; padding: 0 10px; cursor: pointer; display: inline-block; }


