@import url("import/simple-line-icons.css");
@import url("import/reset.css");
@import url("import/header.css");
@import url("import/theme.css");
@import url("import/dd.css");

body { font-family: Arial; width: 100%; height: 100%; position: absolute; transition: all .6s; } 
* [class*="icon-"]:before, * [class*="icons-"]:after { cursor: pointer; }
* [class*="icons-"]:after { margin-left: 10px; }
body { font-family: Arial; width: 100%; height: 100%; position: absolute; transition: all .6s; } 
#content { width: calc(100% - 200px); height: calc(100% - 80px); margin: 50px 0 0 200px;  position: relative; }

#menu { width: 200px; height: calc(100% - 80px); position: fixed; top: 50px; left: 0px; z-index: 10; }




#content-DuyetItem { width: calc(100% - 200px); height: 100%; display: block; position: relative; }
.BoxDuyetItem { width: 1080px; height: 100%; display: block; padding-left: 5px; overflow: hidden; }
#timkiemItem { width: calc(100% - 200px); height: auto; display: block; left: 200px; top: 50px; position: fixed; z-index: 1; box-shadow: 0 0 3px rgba(0,0,0, .2); }
#headerTimkiem { height: 40px; display: block; }
#headerTimkiem h3 { height: 40px; line-height: 40px; padding-left: 5px; width: auto; display: inline-block; }
#bodyTimkiem { height: auto; display: block; }
#bodyTimkiem ul { width: 100%; min-width: 1080px; height: auto; padding: 5px 10px; display: block; }
#bodyTimkiem li { width: 100%; height: 38px; line-height: 38px; display: block; }
#bodyTimkiem li input { width: 120px; border-radius: 3px; height: 25px; margin-right: 5px; }
#bodyTimkiem .seachItem { background: red; width: 80px; padding: 4px; margin-left: 44px; border-radius: 3px; color: #fff; background: #8FBC8F; cursor: pointer; }

.listDuyetItem { width: 100%; height: calc(100% - 136px); display: block; margin-top: 132px; position: relative; }
.listDuyetItem ul { width: 100%; height: 100%; border-top: none; }
.listDuyetItem li { width: 100%; height: 32px; padding: 1px 0; display: block; }
.listDuyetItem div { width: 100%; height: calc(100% - 28px); overflow: auto; }
.listDuyetItem li.Active { background: #3D9BDA; color: #fff; }
.listDuyetItem li.Active a { color: #fff; }
.listDuyetItem span { font-size: 13px; float: left; height: 30px; line-height: 30px; padding: 0 6px 0 4px; }
li.titleTruong { height: 28px; padding: 0; box-sizing: border-box; background: linear-gradient(#f9f9f9, #E5E5E5); }
.titleTruong span { font-weight: bold; font-size: 14px; float: left; height: 26px; line-height: 27px; border-right: 1px solid rgba(0,0,0, .15); position: relative; box-sizing: border-box;}
.titleTruong span:last-child { border-right: none; }
span.truong0 { width: 20px; }
span.truong1 { width: 110px; }
span.truong2 { width: 110px; }
span.truong3 { width: 110px; }
span.truong4 { width: 110px; }
span.truong5 { width: 110px; }
span.truong6 { width: 110px; }
span.truong7 { width: 180px; }
span.truong8 { width: 110px; }
span.truong9 { width: 60px; }
.listDuyetItem span p {  white-space: nowrap; overflow: hidden; height: 30px; line-height: 30px; }
.listDuyetItem a { padding: 0 5px 0 4px; font-size: 12px; text-decoration: underline; color: #8FBC8F; }
/*.listDuyetItem a.viewProduct, .listDuyetItem a.approve { color: #8FBC8F; }
.listDuyetItem a.reject { color: #DE3546; }*/



#viewDuyetItem { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 9999; background: rgba(0,0,0, 0.6); }
#viewDuyetBox { width: 800px; height: calc(100% - 20px); display: block; margin: auto; margin-top: 20px; }
#headView { height: 40px; display: block; border-radius: 4px 4px 0 0; background: linear-gradient(#f9f9f9, #E9E9E9); }
#headView h3 { height: 40px; padding: 0 20px; display: inline-block; line-height: 40px; }
#listBottomDuyet { float: right; }
#listBottomDuyet span { padding: 0 7px; height: 26px; float: left; margin: 7px 5px 0 5px; line-height: 25px; border-radius: 5px; cursor: pointer; }
#listBottomDuyet .icon-close { width: 26px; height: 26px; padding: 0; position: relative; overflow: hidden; color: #777; border: 1px solid #999; line-height: 0; }
#listBottomDuyet .icon-close::before { font-size: 38px; position: absolute; margin: 12px 0 0 -7px; }
#bodyDuyetItem { width: 100%; height: calc(100% - 40px); display: block;  }
#boxViewDuyetItem { display: block; position: relative; height: calc(100% - 30px); padding: 15px; overflow: auto;}
#tab-view-duyetItem { height: 30px; width: 800px; display: block; position: relative;}
#tab-view-duyetItem span { position: relative; height: 30px; line-height: 30px; padding: 0 10px; cursor: pointer; display: inline-block; }
#boxViewDuyetItem h3 {  font-size: 19px; color: #444; height: 36px; border-bottom: 1px solid #c4c4c4; }
#boxViewDuyetItem .labelname { width: 210px; display: table-cell; font-size: 16px; color: #777; }
#boxViewDuyetItem p { display: table-cell; white-space: inherit; padding-left: 10px; vertical-align: middle; }
#boxViewDuyetItem ul { margin-bottom: 30px; }

#acl-duyetItem { display: none; }
.viewACL { width: 100%; height: auto; }
.viewACL a { color: #777; }
.viewACL h3 { margin-top: 20px; height: 30px; }
.viewACL h4 { width: 100%; height: 30px; display: block; margin-top: 30px; }
.viewACL .listUser, .listGroup { width: 100%; height: auto; display: block; }
.viewACL .listUser li, .viewACL .listGroup li { width: 100%; height: 36px; padding: 0; display: block; }
.viewACL .listUser li > div, .listGroup li > div {  display: table-cell; }
.viewACL .listUser .nameUser { width:  360px; padding-left: 7px; line-height: 36px; box-sizing: padding-box; }
.viewACL [class*="icon-"]::before { margin-right: 6px; }
.viewACL .listUser .quyenUser,.viewACL .listGroup .quyenGroup { width: 410px; text-align: center; }
.viewACL .quyenUser span, .viewACL .quyenGroup span { box-sizing: padding-box; transition: all .6s; cursor:auto; padding: 2px 5px; margin-right: 4px; border-radius: 3px; display: inline-table; font-size: 13px; }
.viewACL .nameGroup { width:  360px; padding-left: 7px; line-height: 36px; }


.bottomAppreve { background: #8FBC8F; }
.bottomReject { background: #DE3546; }


.loading img { position: absolute; left: 50%; top: 50%; margin: -12px; }



footer { width: 100%; height: 30px; position: fixed; background: #007EE5; color: #fff; border-top: 1px solid rgba(0, 0, 0, 0.15); text-align: center; line-height: 30px; bottom: 0; left: 0; }