@import url("import/simple-line-icons.css");
@import url("import/reset.css");
@import url("import/header.css");
@import url("import/theme.product.css");
@import url("import/dd.css");
@import url("import/all.css");




* [class*="icon-"]:before, * [class*="icons-"]:after { cursor: pointer; }
* [class*="icons-"]:after { margin-left: 10px; }
.icon-trash:before, .icon-magnifier:before { color: #999; }

body { font-family: Arial; width: 100%; height: 100%; position: absolute; transition: all .6s; } 
#content { width: calc(100% - 460px); height: 100%; margin-left: 460px; position: relative; }



/* layout Product
-----------------------------------------------------------------------------------------------*/
#sidebar-product { width: 260px; height: calc(100% - 120px); position: fixed; left: 200px; top: 90px; z-index: 2; }
#content-product { width: 100%; min-width: 720px; height: 100%; display: block; box-sizing: border-box; z-index: 1; position: relative; }
#header-product { width: calc(100% - 200px); height: 40px; position: fixed; right: 0; top: 50px; z-index: 1; box-sizing: border-box; box-shadow: 0 1px 2px rgba(0,0,0, .15); }
#body-product { width: 800px; padding-bottom: 20px; height: auto; display: block; padding-top: 90px; }



/* #content-product 
-----------------------------------------------------------------------*/
    /* #header-product
    ---------------------------------------------*/
#box-header-product { width: 100%; margin: auto; height: 40px; }
#box-header-product > div { height: 40px; position: relative;}
    /* #header-product-menu */
#header-product-text { float: left; width: auto; padding: 0 15px; box-sizing: padding-box; white-space: nowrap; height: 40px; line-height: 40px; }
.titleTab { float: left; height: 40px; line-height: 40px; padding-left: 30px; display: block;  }
#header-product-menu { float: right; }
#header-product-menu span { height: 40px; display: inline-block; line-height: 40px; padding: 0 8px; cursor: pointer; }
#header-product-menu span::before { padding-right: 6px; }


    /* #body-product 
    ----------------------------------------------*/
    /* #main-product*/
#main-product { height: auto; padding: 10px;  }
#body-main-product { margin-bottom: 20px;  margin-top: 40px; }

    /* #body-ACL-product */
#body-ACL-product { display: none; margin-top: 40px; }




.loading { width: 100%; height: calc(100% - 90px); top: 90px; position: absolute; z-index: 1000; background: #fff; }
.loading img { position: absolute; left: 50%; top: 50%; margin: -12px; }


#tab-view { width: calc(100% - 460px); right: 0; z-index: 100; height: 35px; background: #fff; position: fixed; }
.tab-view span { position: relative; height: 35px; line-height: 35px; padding: 0 10px; cursor: pointer; display: inline-block; }


