/*
Errno::ENOENT: No such file or directory @ rb_sysopen - sass/document.scss

Backtrace:
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:481:in `read'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:481:in `update_stylesheet'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:209:in `each'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:293:in `watch'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin.rb:108:in `method_missing'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/exec/sass_scss.rb:370:in `watch_or_update'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/exec/sass_scss.rb:50:in `process_result'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/exec/base.rb:52:in `parse'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/exec/base.rb:19:in `parse!'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/bin/sass:13:in `<top (required)>'
c:/Ruby21-x64/bin/sass:23:in `load'
c:/Ruby21-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - sass/document.scss"; }
