@import "import/theme";
@import "import/module";
@import "import/reset";
@import "import/header";
@import "import/all";
@import "../css/jquery-ui/all.css";


// setting
$mL: 460px;
$hHeader: 36px;




* { font-size: 14px !important; }
body { font-family: $font-body !important; line-height: 1; background: $bg-body; color: $color-body; width: 100%; height: 100%; position: absolute; transition: all .6s; }
a { font-family: $font-body !important; color: $color-link; }

#content { width: calc(100% - ${mL}); height: 100%; margin-left: $mL; position: relative; }

@include treeClass;

#sidebar-content { width: 260px; height: calc(100% - 116px); position: fixed; left: 200px; top: 50px + $hHeader; z-index: 2; }
#content-page { width: 100%; min-width: 720px; height: 100%; display: block; box-sizing: border-box; z-index: 1; position: relative; }

@include viewACL;

#header-page { width: calc(100% - 200px); height: $hHeader; position: fixed; right: 0; top: 50px; z-index: 1; box-sizing: border-box; box-shadow: 0 1px 2px rgba(0,0,0, .1); background: $bg-header-pg; @include border-bottom;  color: $color-hader-pg;
    #box-header-page { width: 100%; margin: auto; height: $hHeader;
        >div { height: $hHeader; position: relative; }
    }
    #header-page-text { float: left; width: auto; padding: 0 15px; box-sizing: padding-box; white-space: nowrap; height: $hHeader; line-height: $hHeader; }
    .titleTab { float: left; height: $hHeader; line-height: $hHeader; padding-left: 30px; display: block; }
    #header-page-menu { float: right; 
        #list-bottom-page {
	        > span { height: $hHeader; display: inline-block; line-height: $hHeader + 2px; margin: 0 8px; cursor: pointer;
	            &:before { padding-right: 6px; }
	            span { display: inline-block; padding-right: 4px; }
	            p { font-family: $font-body !important; display: inline-block; }
	        }
	    }
    }
    * [class*="icon-"]:before, * [class*="icons-"]:after { text-shadow: 1px 1px 2px #999; }
}

