<div id="header-customer-category" class="bg-pg-header border-bottom-1-2">
    <div id="box-header-customer-category">
        <div id="header-customer-category-text" class="h2-1"><h2>Customer Category Management</h2></div>
        <div id="header-customer-category-menu">
            <div id="list-bottom-customer-category">
                <span id="new-customer-category" class="icon-plus" title="New Customer Category"></span>
                <span id="edit-customer-category" class="icon-note" title="Edit Customer Category"></span>
                <span id="delete-customer-category" class="icon-trash" title="Delete Customer Category"></span>
            </div>
        </div>
    </div>
</div>
<div id="body-customer-category" class="bg-pg ac-custom ac-checkbox ac-checkmark">
    <div id="tab-view" class="tab-view border-bottom-1-2 bg-pg-header">
        <span id="tab-main-UDF" class="active">Properties</span>
        <span id="tab-ACL">ACL</span>
    </div>
    <div id="main-customer-category">
        <div id="body-main-customer-category"  class="view-main">
            <h3 class="border-bottom-1-2">Main Properties</h3>
            <ul>
                <li>
                    <span class="labelname">Customer category ID</span>
                    <p>123df23</p>
                </li>
                <li>
                    <span class="labelname">Customer category Name</span>
                    <p>name Customer category 1.1</p>
                </li>
                <li>
                    <span class="labelname">Parent ID</span>
                    <p>123df23</p>
                </li>
                <li>
                    <span class="labelname">Inherit condition</span>
                    <p><input type="checkbox" id="sub" checked disabled><label for="sub"></label></p>
                </li>
                <li>
                    <span class="labelname">Inderit document</span>
                    <p><input type="checkbox" id="cont" disabled /><label for="cont"></label></p>
                </li>
                <li>
                    <span class="labelname">inherit menu ACL</span>
                    <p><input type="checkbox" id="condition" checked disabled /><label for="condition"></label></p>
                </li>
                <li>
                    <span class="labelname">inderit parent ACL</span>
                    <p><input type="checkbox" id="Document" disabled /><label for="Document"></label></p>
                </li>
            </ul>
        </div>
        <div id="body-ACL-customer-category">
            <div class="viewACL">
                <h3 class="border-bottom-1-2">Access Control Definition</h3>
                <h4>Users:</h4>
                <ul class="listUser">
                    <li data-id="idUser1" class="border-bottom-1-2 border-top-1-2">
                        <div class="nameUser"><a href="#" class="icon-users">ISTS</a></div>
                        <div class="quyenUser"><span class="border-1 applyQuyen">Read</span><span class="border-1">Write</span><span class="border-1">Admin</span></div>
                    </li>
                    <li data-id="idUser2" class="border-bottom-1-2">
                        <div class="nameUser"><a href="#" class="icon-user">userName</a></div>
                        <div class="quyenUser"><span class="border-1">Read</span><span class="border-1">Write</span><span class="border-1 applyQuyen">Admin</span></div>
                    </li>
                </ul>

                <h4>Groups:</h4>
                <ul class="listGroup">
                    <li data-id="idGroup1" class="border-bottom-1-2 border-top-1-2">
                        <div class="nameGroup"><span class="icon-users">Administrators</span></div>
                        <div class="quyenGroup"><span class="border-1">Read</span><span class="border-1 applyQuyen">Write</span><span class="border-1">Admin</span></div>
                    </li>
                    <li data-id="idGroup2" class="border-bottom-1-2">
                        <div class="nameGroup"><span class="icon-users">Developers</span></div>
                        <div class="quyenGroup"><span class="border-1">Read</span><span class="border-1">Write</span><span class="border-1 applyQuyen">Admin</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>