<div id="combobox">
    <div id="body-combobox">
        <div id="header-combobox" class="border-bottom-1-2 bg-pg-header">
            <div id="tab-view-new-edit" class="tab-view">
                <span id="tab-main-UDF" class="actived">Main Properties</span>
                <span id="tab-ACL">ACL</span>
            </div>
            <div id="list-bottom-combobox">
                <div id="save-combobox" class="color-title border-left-1-1">Save</div>
                <div id="exit-combobox" class="color-title border-left-1-1">Cancel</div>
            </div>
        </div>
        <div id="content-combobox">
            <div class="layout-new-edit ac-custom ac-checkbox ac-checkmark" >
                <form name="NewCustomerCategory" action="#" autocomplete="off" method="get">
                    <div class="change-Main-Udf">
                        <h3 class="border-bottom-1-2">Main Properties</h3>
                        <ul>
                            <li>
                                <span>Customer category ID</span>
                                <p><input type="text" name="customer-category-id"></p>
                            </li>
                            <li>
                                <span>Customer category Name</span>
                                <p><input type="text" name="customer-category-name"></p>
                            </li>
                            <li class="list-select">
                                <span>Customer Parent</span>
                                <p>
                                    <select name="parent-customer-category">
                                        <option value="node1">Customer category1.1</option>
                                        <option value="node2">Customer category1.2</option>
                                        <option value="node3">Customer category1.3</option>
                                        <option value="node4">Customer category1.4</option>
                                        <option value="node5">Customer category1.5</option>
                                    </select>
                                </p>
                            </li>
                            <li>
                                <span>Inherit condition</span>
                                <p><input id="inherit-Condition" name="inderherit-Condition" checked type="checkbox"><label for="inher it-Condition"></label></p>
                            </li>
                            <li>
                                <span>Inherit document</span>
                                <p><input id="inherit-document" name="inherit-document" type="checkbox"><label for="inherit-document"></label></p>
                            </li>
                            <li>
                                <span>Inherit menu ACL</span>
                                <p><input id="inderit-menu" name="inderit-menu" type="checkbox"><label for="inderit-menu"></label></p>
                            </li>
                            <li>
                                <span>Inherit parent ACL</span>
                                <p><input id="inherit-parent" name="inherit-parent" type="checkbox"><label for="inherit-parent"></label></p>
                            </li>
                        </ul>
                    </div>
                </form>

                <div class="changeACL">
                    <h3 class="border-bottom-1-2">ACL</h3>
                    <h4>Users:</h4>
                    <div class="addUserItem background-1 border-top-bottom-1">
                        <form name="formAddUser">
                            <p>
                                <select name="userAdd">
                                    <option value="idUser1">User 1</option>
                                    <option value="idUser2">User 2</option>
                                    <option value="idUser3">User 3</option>
                                    <option value="idUser4">User 4</option>
                                    <option value="idUser5">User 5</option>
                                    <option value="idUser6">User 6</option>
                                    <option value="idUser7">User 7</option>
                                    <option value="idUser8">User 8</option>
                                    <option value="idUser9">User 9</option>
                                    <option value="idUser10">User 10</option>
                                    <option value="idUser11">User 11</option>
                                    <option value="idUser12">User 12</option>
                                    <option value="idUser13">User 13</option>
                                    <option value="idUser14">User 14</option>
                                    <option value="idUser15">User 15</option>
                                    <option value="idUser16">User 16</option>
                                    <option value="idUser17">User 17</option>
                                </select>
                            </p>
                            <p class="multiple">
                                <select name="quyenUser" multiple>
                                    <option value="read">Read</option>
                                    <option value="write">Write</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </p>
                            <span class="addUser border-1">Add</span>
                        </form>
                    </div>
                    <ul class="listUser">
                        <li data-id="idUser1" class="border-bottom-1-2">
                            <div class="nameUser"><a href="#" class="icon-user">ists</a></div>
                            <div class="quyenUser"><span class="border-1 applyQuyen" data-quyen='read'>Read</span><span class="border-1" data-quyen='write'>Write</span><span class="border-1"  data-quyen='admin'>Admin</span></div>
                            <div class="deleteUser"><span class="removeUser icon-close"></span></div>
                        </li>
                        <li data-id="idUser2" class="border-bottom-1-2">
                            <div class="nameUser"><a href="#" class="icon-user">userName</a></div>
                            <div class="quyenUser"><span class="border-1" data-quyen='read'>Read</span><span class="border-1" data-quyen='write'>Write</span><span class="border-1 applyQuyen" data-quyen='admin'>Admin</span></div>
                            <div class="deleteUser"><span class="removeUser icon-close"></span></div>
                        </li>
                    </ul>

                    <h4>Groups:</h4>
                    <div class="addGroupItem background-1 border-top-bottom-1">
                        <form name="formAddGroup">
                            <p>
                                <select name="selectGroup">
                                    <option value="idGroup1">Group 1</option>
                                    <option value="idGroup2">Group 2</option>
                                    <option value="idGroup3">Group 3</option>
                                    <option value="idGroup4">Group 4</option>
                                    <option value="idGroup5">Group 5</option>
                                    <option value="idGroup6">Group 6</option>
                                    <option value="idGroup7">Group 7</option>
                                    <option value="idGroup8">Group 8</option>
                                    <option value="idGroup9">Group 9</option>
                                    <option value="idGroup10">Group 10</option>
                                    <option value="idGroup11">Group 11</option>
                                    <option value="idGroup12">Group 12</option>
                                    <option value="idGroup13">Group 13</option>
                                    <option value="idGroup14">Group 14</option>
                                    <option value="idGroup15">Group 15</option>
                                    <option value="idGroup16">Group 16</option>
                                    <option value="idGroup17">Group 17</option>
                                </select>
                            </p>
                            <p class="multiple">
                                <select class="quyenGroup" name="quyenGroup" multiple>
                                    <option value="read">Read</option>
                                    <option value="write">Write</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </p>
                            <span class="addGroup border-1">Add</span>
                        </form>
                    </div>
                    <ul class="listGroup">
                        <li data-id="idGroup1" class="border-bottom-1-2">
                            <div class="nameGroup"><span class="icon-users">Administrators</span></div>
                            <div class="quyenGroup"><span class="border-1" data-quyen='read'>Read</span><span class="border-1 applyQuyen" data-quyen='write'>Write</span><span class="border-1" data-quyen='admin'>Admin</span></div>
                            <div class="deleteGroup"><span class="removeGroup icon-close"></span></div>
                        </li>
                        <li data-id="idGroup2" class="border-bottom-1-2">
                            <div class="nameGroup"><span class="icon-users">Developers</span></div>
                            <div class="quyenGroup"><span class="border-1" data-quyen='read'>Read</span><span class="border-1" data-quyen='write'>Write</span><span class="border-1 applyQuyen" data-quyen='admin'>Admin</span></div>
                            <div class="deleteGroup"><span class="removeGroup icon-close"></span></div>
                        </li>
                    </ul>
                </div><!-- end. .changeACL -->
            </div><!-- end. .layout-new-edit-Item -->
        </div><!-- end. #content-combobox -->
    </div>
</div><!-- end. #combobox -->



