<div id="combobox">
    <div id="header-combobox">
        <div id="tab-view-new-edit" class="tab-view">
            <span id="tab-main-UDF" class="actived">FF
            Main/UDF</span>
            <span id="tab-ACL">ACL</span>
        </div>
        <div id="list-bottom-combobox">
            <div id="save-product" class="color-title border-left-1-1">Save</div>
            <div id="exit-combobox" class="color-title border-left-1-1">Cancel</div>
        </div>
    </div>
    <div id="content-combobox">
        <div id="body-combobox">
            <div class="layout-new-edit ac-custom ac-checkbox ac-checkmark" >
                <form name="NewProduct" action="#" autocomplete="off" method="get">
                    <div class="change-Main-Udf">
                        <h3 class="border-bottom-1-2">Main Properties</h3>
                        <ul>
                            <li>
                                <span>Product ID<span class="error">*</span></span>
                                <p><input type="text" name="Product-id" value="id Product 123..."></p>
                            </li>
                            <li>
                                <span>Product Name</span>
                                <p><input type="text" name="Product-name" value="name product1.1"></p>
                            </li>
                            <li>
                                <span>Product Slogal</span>
                                <p><textarea name="Product-slogal">This morning it was disclosed that Stephane Chazelas discovered a critical vulnerability in the GNU bash utility present on the vast majority of Unix and Linux systems.</textarea></p>
                            </li>
                            <li>
                                <span>link Cbs</span>
                                <p><input type="text" name="link-cbs" value="link cbs"></p>
                            </li>
                            <li class="list-select">
                                <span>Product Parent</span>
                                <p>
                                    <select name="product-parent">
                                        <option value="node1">Node 1</option>
                                        <option value="node2">Node 2</option>
                                        <option value="node3" selected>Node 3</option>
                                        <option value="node4">Node 4</option>
                                        <option value="node5">Node 5</option>
                                    </select>
                                </p>
                            </li>
                            <li  class="list-select">
                                <span>Product owner</span>
                                <p>
                                    <select name="product-owner">
                                        <option value="1">owner 1</option>
                                        <option value="2">owner 2</option>
                                        <option value="3">owner 3</option>
                                        <option value="4">owner 4</option>
                                        <option value="5" selected>owner 5</option>
                                    </select>
                                </p>
                            </li>
                            <li>
                                <span>Allow Sub</span>
                                <p><input id="allow-sub" name="allow-sub" checked type="checkbox"><label for="allow-sub"></label></p>
                            </li>
                            <li>
                                <span>Allow Contract</span>
                                <p><input id="allow-contract" name="allow-contract"  type="checkbox"><label for="allow-contract"></label></p>
                            </li>
                            <li>
                                <span>Allow Condition</span>
                                <p><input id="allow-condition" name="allow-condition" type="checkbox"><label for="allow-condition"></label></p>
                            </li>
                            <li>
                                <span>Allow Document</span>
                                <p><input id="allow-document" name="allow-document" checked type="checkbox"><label for="allow-document"></label></p>
                            </li>
                            <li>
                                <span>Effective</span>
                                <p><input class="date" name="Effective" type="date" required placeholder="10/31/2014"></p>
                            </li>
                            <li>
                                <span>Expiry</span>
                                <p><input class="date" name="Expiry" type="date" checked required placeholder="10/31/2014"></p>
                            </li>
                            <Li>
                                <span>Inherit menu ACL</span>
                                <p><input id="allow-menuACL" name="allow-menuACL" type="checkbox"><label for="allow-menuACL"></label></p>
                            </Li>
                            <Li>
                                <span>Inherit parent ACL</span>
                                <p><input id="allow-parentACL" name="allow-parentACL" type="checkbox"><label for="allow-parentACL"></label></p>
                            </Li>
                        </ul>
                    </div>
                    <div class="change-Main-Udf">
                        <h3 class="border-bottom-1-2">UDF</h3>
                        <ul>
                            <li>
                                <span>text:</span>
                                <p><input id="text" name="text" type="text" required placeholder="text...!"></p>
                            </li>
                            <li>
                                <span>Date:</span>
                                <p><input class="date" name="date" type="date" required placeholder="10/31/2014"></p>
                            </li>
                            <li>
                                <span>Number:</span>
                                <p><input id="number" name="number" type="number" min="0" max="100" step="10" value="30" required placeholder="10/31/2014"></p>
                            </li>
                        </ul>
                    </div>
                </form>

                <div class="changeACL">
                    <h4>Users:</h4>
                    <div class="addUserItem background-1 border-top-bottom-1">
                        <form name="formAddUser">
                            <p>
                                <select name="userAdd">
                                    <option value="idUser1">User 1</option>
                                    <option value="idUser2">User 2</option>
                                    <option value="idUser3">User 3</option>
                                    <option value="idUser4">User 4</option>
                                    <option value="idUser5">User 5</option>
                                    <option value="idUser6">User 6</option>
                                    <option value="idUser7">User 7</option>
                                    <option value="idUser8">User 8</option>
                                    <option value="idUser9">User 9</option>
                                    <option value="idUser10">User 10</option>
                                    <option value="idUser11">User 11</option>
                                    <option value="idUser12">User 12</option>
                                    <option value="idUser13">User 13</option>
                                    <option value="idUser14">User 14</option>
                                    <option value="idUser15">User 15</option>
                                    <option value="idUser16">User 16</option>
                                    <option value="idUser17">User 17</option>
                                </select>
                            </p>
                            <p class="multiple">
                                <input style="width: 470px; height: auto;" type="text" id="ms1">
                            </p>
                            <span class="addUser border-1">Add</span>
                        </form>
                        <script type="text/javascript">
                            $(function() {
                                var ms1 = $('#ms1').magicSuggest({
                                    name: "quyenUser",
                                    data: ['Read','Write','admin','abc','zyx','uof','aff']

                                });
                            }); 
                        </script>
                    </div>
                    <ul class="listUser">
                        <li data-id="idUser1" class="border-bottom-1-2">
                            <div class="nameUser"><span class="icon-user"></span><a href="#">ists</a></div>
                            <div class="quyenUser"><span class="border-1 applyQuyen" data-quyen='read'>Read</span><span class="border-1" data-quyen='write'>Write</span><span class="border-1"  data-quyen='admin'>Admin</span></div>
                            <div class="deleteUser"><span class="removeUser icon-close"></span></div>
                        </li>
                        <li data-id="idUser2" class="border-bottom-1-2">
                            <div class="nameUser"><span class="icon-user"></span><a href="#">userName</a></div>
                            <div class="quyenUser"><span class="border-1" data-quyen='read'>Read</span><span class="border-1" data-quyen='write'>Write</span><span class="border-1 applyQuyen" data-quyen='admin'>Admin</span></div>
                            <div class="deleteUser"><span class="removeUser icon-close"></span></div>
                        </li>
                    </ul>

                    <h4>Groups:</h4>
                    <div class="addGroupItem background-1 border-top-bottom-1">
                        <form name="formAddGroup">
                            <p>
                                <select name="selectGroup">
                                    <option value="idGroup1">Group 1</option>
                                    <option value="idGroup2">Group 2</option>
                                    <option value="idGroup3">Group 3</option>
                                    <option value="idGroup4">Group 4</option>
                                    <option value="idGroup5">Group 5</option>
                                    <option value="idGroup6">Group 6</option>
                                    <option value="idGroup7">Group 7</option>
                                    <option value="idGroup8">Group 8</option>
                                    <option value="idGroup9">Group 9</option>
                                    <option value="idGroup10">Group 10</option>
                                    <option value="idGroup11">Group 11</option>
                                    <option value="idGroup12">Group 12</option>
                                    <option value="idGroup13">Group 13</option>
                                    <option value="idGroup14">Group 14</option>
                                    <option value="idGroup15">Group 15</option>
                                    <option value="idGroup16">Group 16</option>
                                    <option value="idGroup17">Group 17</option>
                                </select>
                            </p>
                            <p class="multiple">
                                <!-- <select class="quyenGroup" name="quyenGroup" multiple>
                                    <option value="read">Read</option>
                                    <option value="write">Write</option>
                                    <option value="admin">Admin</option>
                                </select> -->
                                <input type="text" id="ms2" style="width: 470px;">
                            </p>
                            <span class="addGroup border-1">Add</span>
                        </form>
                        <script type="text/javascript">
                            $(function() {
                                var ms2 = $('#ms2').magicSuggest({
                                    name: "quyenGroup",
                                    data: ['Read','Write','admin','abc','zyx','uof','aff']
                                });
                            }); 
                        </script>
                    </div>
                    <ul class="listGroup">
                        <li data-id="idGroup1" class="border-bottom-1-2">
                            <div class="nameGroup"><span class="icon-users"></span><span>Administrators</span></div>
                            <div class="quyenGroup"><span class="border-1" data-quyen='read'>Read</span><span class="border-1 applyQuyen" data-quyen='write'>Write</span><span class="border-1" data-quyen='admin'>Admin</span></div>
                            <div class="deleteGroup"><span class="removeGroup icon-close"></span></div>
                        </li>
                        <li data-id="idGroup2" class="border-bottom-1-2">
                            <div class="nameGroup"><span class="icon-users"></span><span>Developers</span></div>
                            <div class="quyenGroup"><span class="border-1" data-quyen='read'>Read</span><span class="border-1" data-quyen='write'>Write</span><span class="border-1 applyQuyen" data-quyen='admin'>Admin</span></div>
                            <div class="deleteGroup"><span class="removeGroup icon-close"></span></div>
                        </li>
                    </ul>
                </div><!-- end. .changeACL -->
            </div><!-- end. .layout-new-edit-product -->
        </div>
    </div>
</div>