<li data-id="idproduct1">
    <span class="truong0"></span><span class="truong1"><p>Systran ID</p></span><span class="truong2 userID"><p>User ID</p></span><span class="truong3 tranStart"><p>Tran Start</p></span><span class="truong4 tranEnd"><p>Tran End</p></span><span class="truong5 tranCode"><p>Tran Code</p></span><span class="truong6 errCode"><p>Err Code</p></span><span class="truong7 comment"><p>Comment Comment Com...</p></span><span class="truong8 status"><p>Status</p></span><span class="truong9 truongActive"><a href="#" class="viewProduct">View</a></span>
</li>
<li data-id="idproduct1">
    <span class="truong0"></span><span class="truong1"><p>Systran ID</p></span><span class="truong2 userID"><p>User ID</p></span><span class="truong3 tranStart"><p>Tran Start</p></span><span class="truong4 tranEnd"><p>Tran End</p></span><span class="truong5 tranCode"><p>Tran Code</p></span><span class="truong6 errCode"><p>Err Code</p></span><span class="truong7 comment"><p>Comment Comment Com...</p></span><span class="truong8 status"><p>Status</p></span><span class="truong9 truongActive"><a href="#" class="viewProduct">View</a></span>
</li>
<li data-id="idproduct1">
    <span class="truong0"></span><span class="truong1"><p>Systran ID</p></span><span class="truong2 userID"><p>User ID</p></span><span class="truong3 tranStart"><p>Tran Start</p></span><span class="truong4 tranEnd"><p>Tran End</p></span><span class="truong5 tranCode"><p>Tran Code</p></span><span class="truong6 errCode"><p>Err Code</p></span><span class="truong7 comment"><p>Comment Comment Com...</p></span><span class="truong8 status"><p>Status</p></span><span class="truong9 truongActive"><a href="#" class="viewProduct">View</a></span>
</li>
<li data-id="idproduct1">
    <span class="truong0"></span><span class="truong1"><p>Systran ID</p></span><span class="truong2 userID"><p>User ID</p></span><span class="truong3 tranStart"><p>Tran Start</p></span><span class="truong4 tranEnd"><p>Tran End</p></span><span class="truong5 tranCode"><p>Tran Code</p></span><span class="truong6 errCode"><p>Err Code</p></span><span class="truong7 comment"><p>Comment Comment Com...</p></span><span class="truong8 status"><p>Status</p></span><span class="truong9 truongActive"><a href="#" class="viewProduct">View</a></span>
</li>
<li data-id="idproduct1">
    <span class="truong0"></span><span class="truong1"><p>Systran ID</p></span><span class="truong2 userID"><p>User ID</p></span><span class="truong3 tranStart"><p>Tran Start</p></span><span class="truong4 tranEnd"><p>Tran End</p></span><span class="truong5 tranCode"><p>Tran Code</p></span><span class="truong6 errCode"><p>Err Code</p></span><span class="truong7 comment"><p>Comment Comment Com...</p></span><span class="truong8 status"><p>Status</p></span><span class="truong9 truongActive"><a href="#" class="viewProduct">View</a></span>
</li>