<div id="header-page" class="bg-pg-header border-bottom-1-2">
    <div id="box-header-page">
        <div id="header-page-text" class="h2-1"><h2>Product Management</h2></div>
        <div id="header-page-menu">
            <div id="list-bottom-page">
                <span id="new-product" title="New Product"><span class="icon-plus"></span><p>new</p></span>
                <span id="edit-product" title="Edit Product"><span class="icon-note"></span><p>edit</p></span>
                <span id="delete-product" title="Delete Product"><span class="icon-trash"></span><p>delete</p></span>
            </div>
        </div>
    </div>
</div>
<div id="body-content" class="bg-pg ac-custom ac-checkbox ac-checkmark">
    <div id="tab-view" class="tab-view border-bottom-1-2 bg-pg-header">
        <span id="tab-main-UDF" class="active">Main/UDF</span>
        <span id="tab-ACL">ACL</span>
    </div>
    <div id="body">
        <div id="main-page">
            <div id="body-main" class="view-main">
                <h3 class="border-bottom-1-2">Main Properties</h3>
                <ul>
                    <li>
                        <span class="labelname">Product ID</span>
                        <p>123df23</p>
                    </li>
                    <li>
                        <span class="labelname">Product Name</span>
                        <p>name Proper1.1</p>
                    </li>
                    <li>
                        <span class="labelname">Product Slogan</span>
                        <p>This morning it was disclosed that Stephane Chazelas discovered a critical vulnerability in the GNU bash utility present on the vast majority of Unix and Linux systems. Using this vulnerability, an attacker can force the execution of arbitrary commands on an affected server. While these commands may not run with root privileges, they provide a significant vector for further exploitation of a system.</p>
                    </li>
                    <li>
                        <span class="labelname">Parent ID</span>
                        <p>123df23</p>
                    </li>
                    <li>
                        <span class="labelname">Product Owner</span>
                        <p>12345</p>
                    </li>
                    <li>
                        <span class="labelname">Allow sub-product</span>
                        <p><input type="checkbox" id="sub" checked disabled><label for="sub"></label></p>
                    </li>
                    <li>
                        <span class="labelname">Allow credit contract</span>
                        <p><input type="checkbox" id="cont" disabled /><label for="cont"></label></p>
                    </li>
                    <li>
                        <span class="labelname">inherit parent's condition</span>
                        <p><input type="checkbox" id="condition" checked disabled /><label for="condition"></label></p>
                    </li>
                    <li>
                        <span class="labelname">inderit parent's document</span>
                        <p><input type="checkbox" id="Document" disabled /><label for="Document"></label></p>
                    </li>
                    <li>
                        <span class="labelname">Effective</span>
                        <p>20/10/2014</p>
                    </li>
                    <li>
                        <span class="labelname">Expiry</span>
                        <p>20/10/2017</p>
                    </li>
                    <li>
                        <span class="labelname">inderit menu ACL</span>
                        <p><input type="checkbox" id="inderitmenu" disabled /><label for="inderitmenu"></label></p>
                    </li>
                    <li>
                        <span class="labelname">inderit parent ACL</span>
                        <p><input type="checkbox" id="inderitparent" disabled /><label for="inderitparent"></label></p>
                    </li>
                    <li>
                        <span class="labelname">Linked CBS product</span>
                        <p>abc</p>
                    </li>
                </ul>
                <h3 class="border-bottom-1-2">UDF</h3>
                <ul>
                    <li>
                        <span class="labelname">Name</span>
                        <p>name UDF</p>
                    </li>
                    <li>
                        <span class="labelname">Slogan</span>
                        <p>This morning it was disclosed that Stephane Chazelas discovered a critical vulnerability in the GNU bash utility present on the vast majority of Unix and Linux systems. Using this vulnerability, an attacker can force the execution of arbitrary commands on an affected server. While these commands may not run with root privileges, they provide a significant vector for further exploitation of a system.</p>
                    </li>
                    <li>
                        <span class="labelname">Owner</span>
                        <p>12345</p>
                    </li>
                    <li>
                        <span class="labelname">Allow_sub</span>
                        <p><input type="checkbox" id="sub" checked disabled /><label for="sub"></label></p>
                    </li>
                    <li>
                        <span class="labelname">Allow_cont</span>
                        <p><input type="checkbox" id="cont" disabled /><label for="sub"></label></p>
                    </li>
                    <li>
                        <span class="labelname">Condition</span>
                        <p><input type="checkbox" id="condition" checked disabled /><label for="condition"></label></p>
                    </li>
                    <li>
                        <span class="labelname">Document</span>
                        <p><input type="checkbox" id="Document" disabled /><label for="Document"></label></p>
                    </li>
                </ul>
            </div>
            <div id="body-ACL">
                <div class="viewACL">
                    <h4>Users:</h4>
                    <ul class="listUser">
                        <li data-id="idUser1" class="border-bottom-1-2 border-top-1-2">
                            <div class="nameUser"><span class="icon-users"></span><a href="#">ISTS</a></div>
                            <div class="quyenUser"><span class="applyQuyen">Read</span><span>Write</span><span>Admin</span></div>
                        </li>
                        <li data-id="idUser2" class="border-bottom-1-2">
                            <div class="nameUser"><span class="icon-user"></span><a href="#">userName</a></div>
                            <div class="quyenUser"><span>Read</span><span>Write</span><span class=" applyQuyen">Admin</span></div>
                        </li>
                    </ul>

                    <h4>Groups:</h4>
                    <ul class="listGroup">
                        <li data-id="idGroup1" class="border-bottom-1-2 border-top-1-2">
                            <div class="nameGroup"><span class="icon-users"></span><span>Administrators</span></div>
                            <div class="quyenGroup"><span class="border-1">Read</span><span class="border-1 applyQuyen">Write</span><span class="border-1">Admin</span></div>
                        </li>
                        <li data-id="idGroup2" class="border-bottom-1-2">
                            <div class="nameGroup"><span class="icon-users"></span><span>Developers</span></div>
                            <div class="quyenGroup"><span class="border-1">Read</span><span class="border-1">Write</span><span class="border-1 applyQuyen">Admin</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>