input, textarea, select { @include border(rgba(0,0,0, .22),1px); color: $color-p; }
input:focus, textarea:focus { border: 1px solid #999; }
input[type='search'], input[type='search']:focus { border: none; }

.error { color: red; margin-left: 5px; font-weight: 700; }


#tree { width: 100%; height: 100%; display: block; box-sizing: border-box; @include border-right;
	#treeHeader { height: 35px; box-sizing: border-box; padding: 4px 0 0 16px; background: $bg-header-box; @include border-bottom; }
	#treeBody { width: 100%; height: calc(100% - 35px); position: absolute; overflow: auto; position: relative; background: $bg-tree;
        ul { height: auto; display: none; }
        li { margin-left: 18px; position: relative; min-height: 22px; height: auto; 
	       &.listTree:before { z-index: 3; text-align: center; line-height: 14px; content: ''; width: 14px; height: 14px; position: absolute; top: 4px; left: -12px; background-image: url(../images/expand.png); cursor: pointer; }
	       &.selectTree:before { background-image: url(../images/collapse.png); }
        }
        a { height: 24px; line-height: 24px; padding: 0 10px 0 6px; font-size: 14px; white-space: nowrap; color: $color-tree; 
        	&.active-tree { color: $color-tree-active; z-index: 10; 
        		&:before {  content: ''; z-index: 2; width: 260px; height: 24px; @include bg-opacity($bg-opacity); left: 200px; position: fixed; }
        	}
        }
	    >ul { margin-top: 10px; display: block; 
            > li { margin-left: 12px; }
        }
    }
}



.seach { width: 230px; overflow: hidden; height: 26px; background: #fff; @include border; @include border-radius(13px); @include box-sizing(border-box);
    .input-seach { border: none; height: 24px; width: 196px; float: left; margin-left: 8px; @include box-sizing(border-box); }
    .label-seach { height: 19px; font-size: 13px; font-weight: 700; margin-top: 2px; padding: 3px 4px 0 4px; float: left; } 

}

.icon-trash:before, .icon-magnifier:before {
    color: $color-icon-1;
}



/* View Main*/
.view-main { display: block; width: 100%; height: auto; 
	h3 { margin-top: 20px; height: 30px; @include border-bottom; font-weight: 700; }
	ul { width: 100%; height: auto; display: block; }
	li { width: 100%; height: auto;  display: block; padding: 8px 0 !important; }
	.labelname { width: 210px; display: table-cell; font-size: 16px; }
	p { display: table-cell; white-space: inherit; padding-left: 10px; vertical-align: middle; }
}











/* layout New/Edit */
.layout-new-edit { width: 100%; height: auto; display: block; padding: 10px; }
.change-Main-Udf {
	h3 { height: 36px; line-height: 36px; @include border-bottom; margin-bottom: 5px; font-weight: 700; }
	ul { margin-bottom: 30px; }
	li { width: 100%; height: auto;  display: block; padding: 8px 0 !important; 
		> span { width: 200px; font-size: 15px; height: 22px; display: block; display: inline-block; }
	}
	p { width: 520px; white-space: inherit; padding: 0 10px; vertical-align: middle;  display: inline-block; } 
	input , textarea { width: 500px; height: 30px; border-radius: 0; transition: all 0.6s; padding: 0 6px; }
	textarea { height: 100px; padding-top: 6px; resize: none; 
		&:focus { height: 130px; max-height: 130px; }
	}
	select { width: 250px; padding: 2px; height: 30px; display: inline-block; 
		option { width: 100%; height: 20px; line-height: 20px; padding: 0 5px; }
	}
}



/* layout New/Edit ACL  
-------------------------------------------------------------------------------------------*/
.changeACL { width: 100%; height: auto; margin-bottom: 40px; display: block; 
	h3 { height: 36px; line-height: 36px; @include border-bottom; margin-bottom: 5px; font-weight: 700; }
	>h4 { width: 100%; height: 30px; font-weight: normal; display: block; 
		&:nth-child(4) { margin-top: 30px; }
	}
	.listUser, .listGroup { width: 100%; height: auto; display: block; 
	}
	.listUser .quyenUser, .listGroup .quyenGroup { width: 390px; text-align: center; 
		span { box-sizing: padding-box; transition: all .6s; cursor: pointer; padding: 2px 5px; margin-right: 4px; border-radius: 3px; display: inline-table; font-size: 13px; @include border;
			&.applyQuyen { background: $bg-bottom; color: $color; border: 1px solid $bg-bottom; }
		}
	}
	.listUser li, .listGroup li { width: 100%; height: 36px; padding: 0; display: block; @include border-bottom;
		> div { display: table-cell; }
	}
	.nameUser, .nameGroup { width:  360px; padding-left: 7px; line-height: 36px; }
	[class*="icon-"]:before { margin-right: 6px; }
	.addUserItem, .addGroupItem { height: auto; @include border-top; @include border-bottom; 
	    form { height: auto;  padding: 5px; }
	}
	p { float: left; }
	select { width: 220px; height: 38px; display: inline-block; }
	.multiple { margin-left: 15px; 
	    
	} 
	select option { height: 24px; line-height: 24px; padding-left: 10px ; width: 100%; display: block; }
	.addUserItem .addUser, .addGroupItem .addGroup { display: inline-block; height: 32px; line-height: 32px; border-radius: 3px; margin-left: 20px; cursor: pointer; padding: 0 5px; @include border; }
	.removeUser, .removeGroup { cursor: pointer; }
}

