/*@charset "UTF-8"; */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; padding: 0; border: 0;
	font-size: 14px;
	font: inherit; vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, select { vertical-align:middle; }
a { margin:0; padding:0; font-size:14px; vertical-align:baseline; background:transparent; text-decoration: none; }
* { outline: none; box-sizing: border-box; }
p { line-height: 1.4em; word-spacing: .1em; }

* [class*="icon-"]:before, * [class*="icons-"]:after { color: $color-icon; }

.active, .actived, *[class*="-bold"] { font-weight: 700; }
.active:before, .actived:before {content: ""; border-width: 8px; bottom: 0; height: 0; left: 50%; margin-left: -8px; overflow: hidden; position: absolute; width: 0; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: transparent transparent  #9C9C9C transparent; border-image: none; border-style: outset outset solid; }
.active:after, .actived:after {content: ""; border-width: 8px; bottom: -1px; height: 0; left: 50%; margin-left: -8px; overflow: hidden; position: absolute; width: 0; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: transparent transparent  $bg-body; border-image: none; border-style: outset outset solid; }


.activeMenu:before { content: ''; content: ""; border-width: 18px; bottom: 0; height: 0; left: -1px; overflow: hidden; position: absolute; width: 0; -moz-border-bottom-colors: none; -moz-border-left-colors: none;  -moz-border-right-colors: none;  -moz-border-top-colors: none; border-color: transparent transparent transparent $border-color;  border-image: none; border-style: outset outset outset solid;  }
.activeMenu:after { content: ''; content: ""; border-width: 18px; bottom: 0; height: 0; left: -2px; overflow: hidden; position: absolute; width: 0; -moz-border-bottom-colors: none; -moz-border-left-colors: none;  -moz-border-right-colors: none;  -moz-border-top-colors: none; border-color: transparent transparent transparent $bg-header-pg;  border-image: none; border-style: outset outset outset solid;  }


* [class*="dropdown-menu"] { display: none; width: 280px; height: 400px; position: absolute; z-index: 13; right: 0px; top: 43px; border-radius: 5px; @include border; background: $bg-box; }
* [class*="dropdown-menu"]:before { content: ''; width: 0; height: 0; border-width: 8px; right: 28px; top: -16px; border-color: transparent transparent $border-color transparent; border-image: none; border-style: outset outset solid outset; position: absolute; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; }
* [class*="dropdown-menu"]:after { content: ''; width: 0; height: 0; border-width: 8px; right: 28px; top: -15px; border-color: transparent transparent $bg-box transparent; border-image: none; border-style: outset outset solid outset; position: absolute;-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; }
.dropdown-menu-1 { right: -8px; }
.dropdown-menu-1:before { right: 17px; }
.dropdown-menu-1:after { right: 17px; }
.dropdown-menu-2 { right: -5px; }
.dropdown-menu-2:before { left: 90px; }
.dropdown-menu-2:after { left: 90px; }



input[type="search"], input[type="search"]:focus {
    border: medium none;
}



/*input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }*/







