
// Font family
$font-body: Arial;
$font-size: 14px;

// Color
$color-body: #555;
$color-p: #555;
$color-link: #3b73af;
$color-link-header: #fff;
$color: #fff;
$color-tree: #999;
$color-tree-active: #a6cf53;
$color-hader-pg: #47484b;
$color-icon: #89a452;
$color-icon-1: #999;
$color-1: #8FBC8F;
$color-3: #444;


// Background Color
$bg-body: #f8f8f8;
$bg-header: #007EE5;
$bg-header-box: #F5F5F5;
$bg-header-pg: #f5f5f5;
$bg-menu: #f5f5f5;
$bg-tree: #fff;
$bg-pg: #f5f5f5;
$bg-box: #fff;
$bg-opacity: rgba(0,0,0, .24);
$bg-fullSize: rgba(0,0,0, 0.6);
$bg-bottom: #606060;

// Border Color
$border: rgba(0,0,0, 0.15);
$border-color: rgba(0,0,0, .15);
$border-link: #89a452;
$border-w1: 1px;
$border-w2: 2px;


/* Bottom color */
$bottom-seach: #8FBC8F;
$bottom: rgba(0,0,0, 0.2);